@media screen and (min-width:720px){
    .info-wrapper div{
        border:1px solid red;
    }
    .info-wrapper:first-child{
        width:5%;
        /* padding:10px; */
    }
    .personal-blurb{
        width:95%;
        padding:10px;
        padding-left:0;
    }

}