@import url("resume.css");
@media screen and (min-width:720px){
    .info-wrapper:first-child{
        width:5%;
    }
    .personal-blurb{
        width:95%;
        padding:10px;
        padding-left:0;
    }

}