@import url("resume.css");

.profile-backdrop{
    width:100%;
    height:auto;
    background:url("../images/interests_background.jpg") top center;
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}
.profile-img-wrapper{
    height:100%;
    width:100%;
    color:white;
    background:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.5));
}

@media screen and (min-width:720px){
    .info-wrapper:first-child{
        width:5%;
    }
    .personal-blurb{
        width:95%;
        padding:10px;
        padding-left:0;
    }

}