/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
html,
body{
  height:100%;
}
body {
  width:100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway','Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
  
}

h1{
  text-align:center;
  font-size:1.8em;
}

ul{
  list-style-type:circle;
}
ul li{
  margin:10px;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width:100%;
  background: black;
  min-height: 30px;
  padding: 10px auto;
  position: fixed;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.nav-wrapper{
  width:100%;
  max-width:1200px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  color:#999;
  border-bottom:2px solid transparent;
  transition: all .5s;
}
.nav a:hover {
  color: white;
  border-bottom:2px solid white;
}
.logo img{
  width:100%;
  height:auto;
  padding-left:10px;
  max-width:250px;
  max-height:90px;
}
.logo a:hover{
  border-bottom:2px solid transparent;
}

header {
  text-align: center;
  background: url('../images/background_pic_cover.jpg') no-repeat top center ;
  background-size:100% 50%;
  background-attachment:fixed;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}
.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(2, 26, 56);
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.05);
}
.tag {
  width:auto;
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.tag.name{
  font-family:'Lato','Roboto',sans-serif;
}
.location {
  background-color: #222;
  color: white;
}
main{
  text-align:center;
  overflow:none;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #888;
}
.card h2{
  text-align:center;
}
.card h3{
  margin:15px auto;
}
.card a{
  font-weight:bold;
}
.card a:hover{
  text-decoration:underline;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
.html{
  background-color:#ff9904;
}
.css{
  background-color:#00f;
}
.js{
  background-color:#ff0;
}
.skills li:nth-child(3){
  color:#000;
}
.react{
  background-color:#00ccff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:center;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {     
      display: flex; 
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
    background-size:100% 80%;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .skills li{
    width:auto;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

